---
title: Contact
date: 2015-11-29 21:00:03
layout: contact
---
<h2>Let us help</h2>
<p>Decentral Solutions has broad experience managing large and small projects ensuring on time delivery and customer satisfaction.
Our development process is customized for each customers unique requirements but commonly proceed along the following steps:.</p>

<h4>1. Consultation</h4>
<p>We listen to your requirements, understand the project scope, and provide guidance to get the best result</p>

<h4>2. Proposal</h4>
<p>We develop a comprehensive proposal for your internal review with timelines and cost</p>

<h4>3. Project Kick Off</h4>
<p>We begin work on the project and schedule regular status updates and feedback sessions</p>

<h4>4. Rapid Prototype</h4>
<p>In some cases we will initially develop a quick prototype to ensure full alignment with your vision</p>

<h4>5. Completion</h4>
<p>We deliver the completed project on time and on budget</p>

<h4>6. Documentation, Testing Tools, Training, and Integration Support</h4>
<p>Decentral Solutions provides full support to your in-house engineers to ensure smooth adoption of the product, and the tools to allow future in-house maintenance</p>

<!-- BEGIN FORM-->
<form action="https://calendly.com/lmeng" role="form">
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>Schedule A Meeting</button>
</form>
<!-- END FORM-->
